
/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

/* General CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

/* Custom CSS */
.container {
  background: #fff;
  color: #120f2d;
}

/* Header */
#header .header-top {
  width: 100%;
  background-color: #0d0f1b;
  padding: 8px 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 69;
}

.header-top .logo a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}

.header-top .logo a span {
  color: #25e1f6;
}

.nav-menu ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
}

.nav-menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

.nav-menu ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: #25e1f6;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.nav-menu ul li a:hover::after {
  width: 100%;
}

.nav-menu .fa-solid {
  display: none;
}

#header .header-bottom {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #0b0d19),
    url(assets/user-bg.jpeg);
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 8% 6% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bottom .bottom-left .name {
  font-size: 46px;
}

.bottom-left .name span {
  color: #25e1f6;
}

.bottom-left .profession {
  font-size: 22px;
  font-weight: 500;
}

.bottom-left .short-desc {
  font-size: 18px;
  padding: 20px 35% 20px 0;
}

.bottom-left .btn-cv {
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: #25e1f6;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

.bottom-left .btn-cv:hover {
  background-color: #fff;
  transform: scale(1.1);
}

.header-bottom .bottom-right a {
  display: block;
  font-size: 18px;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 6px;
  color: #f7f7f7;
  padding: 6px 10px;
  margin-bottom: 15px;
  transition: all 0.5s;
}

.header-bottom .bottom-right a:hover {
  border: 1px solid #25e1f6;
  color: #25e1f6;
  opacity: 1;
  transform: scale(1.1);
}


/* About */
#about {
  width: 100%;
  min-height: 100vh;
  padding: 60px 6%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#about .about-left {
  flex-basis: 36%;
}

#about .about-right {
  flex-basis: 60%;
}

.about-left img {
  width: 100%;
  border-radius: 15px;
}

.section-title .sub-title {
  font-size: 40px;
  color: #d9dae7;
  font-weight: 600;
}

.section-title .title {
  font-size: 22px;
  font-weight: 400;
  line-height: 1;
}

.about-right .desc {
  font-size: 16px;
  line-height: 1.4;
  padding: 30px 0;
}

.about-right .tab-titles {
  display: flex;
  margin: 20px 0 30px;
}

.about-right .tab-links {
  margin-right: 50px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.about-right .tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ffc800;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.about-right .tab-links.active-link::after {
  width: 50%;
}

.about-right .tab-contents ul li {
  list-style: none;
  font-size: 18px;
  margin: 10px 0;
}

.about-right .tab-contents ul li span {
  color: #3d0cc7;
  font-size: 16px;
  font-weight: 500;
}

.about-right .tab-contents {
  display: none;
}

.about-right .tab-contents.active-tab {
  display: block;
}

/* Service */
#service {
  background-color: #f7f7f7;
  padding: 60px 6% 80px;
  text-align: center;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 60px;
  text-align: left;
}

.services div {
  background: #fff;
  padding: 40px 30px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.5s;
}

.services div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services div h2 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services div:hover {
  background: #25e1f6;
  transform: translateY(-10px);
}



/* Testimonial */
#testimonial {
  padding: 60px 4% 80px;
  text-align: center;
}

#testimonial .testimonial-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  margin-top: 50px;
}

.testimonial-list .review {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 10px;
  padding: 40px 30px;
  cursor: pointer;
}

.testimonial-list .review:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.review i {
  font-size: 54px;
  color: #25e1f6;
}

.review .review-text {
  font-size: 18px;
  line-height: 1.3;
  text-align: left;
  padding: 20px 0 30px;
}

.review .review-by {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  align-items: center;
  text-align: start;
}

.review-by .img {
  flex-basis: 20%;
}

.review-by .img img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.review-by .info {
  height: 60px;
}

.review-by .info .name {
  font-size: 18px;
  font-weight: 600;
}

.review-by .info .resignation {
  font-size: 16px;
  font-weight: 500;
  opacity: 0.8;
}

/* Contact */
#contact {
  background-color: #25e1f6;
  padding: 60px 8% 40px;
  text-align: center;
}

#contact .section-title .sub-title {
  color: #fff;
}

#contact .content {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.content .contact-left,
.content .contact-right {
  flex-basis: 50%;
}

.content .contact-left form {
  width: 100%;
}

.contact-left form input,
.contact-left form textarea,
.contact-left form button {
  width: 100%;
  border: 0;
  outline: none;
  background: #f7f7f7;
  color: #120f2d;
  resize: none;
  font-size: 14px;
  margin: 8px 0;
  padding: 10px;
  border-radius: 6px;
}

.contact-left form button {
  background: #000;
  color: #f7f7f7;
  font-weight: 500;
  margin: 0;
  border-radius: 0;
  cursor: pointer;
}

.content .vl {
  border-left: 2px solid #fff;
  height: 300px;
}

.content .contact-right {
  text-align: left;
}

.contact-right .col {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.contact-right .col i {
  font-size: 28px;
  margin-right: 10px;
}

.col .info .title {
  font-size: 20px;
}

.copyright {
  font-size: 16px;
  font-weight: 500;
  margin-top: 60px;
}

.copyright a {
  text-decoration: none;
  color: #120f2d;
}

.copyright a:hover {
  color: #fff;
}

/* Responsive Design */
@media (max-width: 900px) {
  .nav-menu .fa-solid {
    display: block;
    color: #25e1f6;
    font-size: 20px;
  }

  .nav-menu ul {
    background-color: #120f2d;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 60px;
    z-index: 2;
    transition: right 0.5s;
  }

  .nav-menu ul li {
    display: block;
    color: #25e1f6;
    margin: 25px;
  }

  .nav-menu ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  #about .about-left {
    flex-basis: 100%;
    margin-bottom: 40px;
  }

  .about-left img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #about .about-right {
    flex-basis: 100%;
  }

  .about-right .tab-links {
    margin-right: 60px;
    font-size: 22px;
  }

  .about-right .tab-contents ul li {
    font-size: 20px;
  }

  .about-right .tab-contents ul li span {
    font-size: 18px;
  }

  #testimonial .testimonial-list {
    grid-gap: 20px;
  }

  .testimonial-list .review {
    padding: 30px 15px;
  }

  .review-by .info .name {
    font-size: 16px;
  }
}

@media (max-width: 560px) {
  .header-bottom .bottom-left .name {
    font-size: 40px;
  }

  .bottom-left .profession {
    font-size: 20px;
  }

  .bottom-left .short-desc {
    font-size: 18px;
    padding-right: 20%;
  }

  .about-left img {
    width: 80%;
  }

  .about-right .tab-links {
    margin-right: 30px;
    font-size: 20px;
  }

  .about-right .tab-contents ul li,
  .about-right .tab-contents ul li span {
    font-size: 18px;
  }

  #contact .content {
    flex-wrap: wrap;
  }

  .content .contact-left,
  .content .contact-right {
    flex-basis: 100%;
  }

  .content .vl {
    display: none;
  }
}

@media (max-width: 450px) {
  .header-bottom .bottom-left .name {
    font-size: 32px;
  }

  .bottom-left .profession {
    font-size: 18px;
  }

  .bottom-left .short-desc {
    font-size: 16px;
    padding-right: 6%;
  }

  .bottom-left .btn-cv {
    font-size: 14px;
    padding: 8px 12px;
  }

  .section-title .sub-title {
    font-size: 36px;
  }

  .section-title .title {
    font-size: 20px;
  }

  .about-left img {
    width: 80%;
  }

  .about-right .tab-links {
    margin-right: 25px;
    font-size: 18px;
  }

  .about-right .tab-contents ul li,
  .about-right .tab-contents ul li span {
    font-size: 16px;
  }
}
